.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
.modal-exit {
  opacity: 1;
  transform: scale(1);

}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 50%;
  min-height: 28vh;
  background-color: black;
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
}

@media (max-width: 640px) {
  .modal-content {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .modal-content {
    width: 90%;

  }
}
.input{
  padding: 12px;
  border-radius: 8px ;
  outline: none;
border: 1px solid dimgrey;
margin-bottom: 5px;
}
.error {
  border: 1px solid red;
}

.linkForm{
  color: #4285f4;
  text-decoration: none;

}

.linkForm:hover{
  text-decoration: 1px underline #4285f4;
}